nav{
    display: flex;  
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
button{
    background-color: orange;
    border-radius: 15px;
}
.main{
    width: 100%;
    height: 450px;
    
    display: flex;
    justify-content: space-around;
}
.b1{
    width: 30%;
    height: 100%;
    align-items: center;
}
.b2{
    width: 20%;
    height: 100%;
    background-color: rgb(89, 165, 42);
}
img{
    width: 100%;
    height: 100%;
}
.b3{
    width: 20%;
    height: 100%;
    background-color: rgb(89, 165, 42);
}
.b4{
    width: 20%;
    height: 100%;
    background-color: rgb(89, 165, 42);
}
.chef{
    width: 100px;
    height: 100px;
}